src/workflows/ChatAI 0.2.json
{
  "name": "Ai Helper",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        1344,
        432
      ],
      "id": "e4f29b64-ae70-485e-9389-1dece18756c7",
      "name": "When chat message received",
      "webhookId": "f4c08642-2017-4d9e-b8b5-5939faf9183c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1568,
        592
      ],
      "id": "8efa78d4-bb77-456a-bf6a-c0d6ed9d54b4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FdJrlXPTfLIbSmse",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}{{ $json.message }}",
        "options": {
          "systemMessage": "Tu propósito principal es ayudar al usuario a acceder la información que necesita, al igual que recibir recomendaciones segun su perfil.\n \nHaz preguntas cortas que le ayuden con este proceso. \nMantén un tono formal pero amigable. \n\nIMPORTANTE:\n- Ya recibes el id del usuario desde el mensaje JSON bajo la clave \"id\" (por ejemplo, $json.id).\n- Usa ese id directamente para buscar su información en la tabla \"users\" de Supabase con la herramienta \"Get many rows in Supabase\".\n- No le pidas al usuario su id.\n- Si ya tienes su información, úsala para avanzar en el proceso de creación del CV.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1680,
        416
      ],
      "id": "605f4a9f-9441-4300-8bb6-50ae08393bc6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatInput }}{{ $json.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1744,
        640
      ],
      "id": "fac901b2-7b60-4679-a30a-67838d9b4d0b",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1904,
        624
      ],
      "id": "e31c3ca6-f9fd-4a18-9adc-b25de4a45216",
      "name": "Get many rows in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "Vixi9OXHGDPDaAKh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2064,
        624
      ],
      "id": "6e525763-9fc1-4e38-ab5a-24cd59ef8635",
      "name": "Update a row in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "Vixi9OXHGDPDaAKh",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows in Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a row in Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1b7029e-fe2e-44c6-a76e-04a9d939ab46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f432fee54c9f88f71601a94bc0d3b393003f9ae63a0ebe364fa7465b577d5c1c"
  },
  "id": "4JIkSVhl6p4qDfTU",
  "tags": []
}